<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>form</title>
</head>
<body>
<center>
    <form action="/" method="post">
		<h1 >Register</h1>
        suname : <input type="text" name="suname" value=""><br>
		lastname : <input type="text" name="lastname" value=""><br>
        usename : <input type="text" name="usename" value=""><br>
        email : <input type="text" name="email" value=""><br>
        password : <input type="password" name="password" value=""><br/>
  		<input type="submit" value="Submit" style="background-color:#7FFFD4" > <br/>
	</form>
</center>
</body>
</html>